.local/share
.emacs.d
.config/BdTranslateClient
.config/BraveSoftware
.config/Cadence
.config/Crow Translate
.config/Electron
.config/FBReader.ORG Limited
.config/GIMP
.config/GREYC
.config/Kvantum
.config/Microsoft
.config/Microsoft Teams - Preview
.config/Netflix
.config/Postman
.config/QtProject.conf
.config/Thunar
.config/Trolltech.conf
.config/Unknown Organization
.config/VirtualBox
.config/brittany
.config/calibre
.config/cef_user_data
.config/clojure
.config/configstore
.config/conky
.config/dconf

.config/discord
.config/doom-bk
.config/falkTX
.config/fish
.config/fontconfig
.config/galculator
.config/gcloud
.config/gconf
.config/gh
.config/glib-2.0
.config/gmic
.config/gtk-2.0
.config/gtk-3.0
.config/htop
.config/jgit
.config/kconf_updaterc
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/knfsshare
.config/koreader

.config/libreoffice
.config/livebuds
.config/lutris
.config/main
.config/matplotlib
.config/menus
.config/mimeapps.list
.config/nano
.config/ngrok
.config/nitrogen
.config/nomacs
.config/notmuch-config
.config/obs-studio
.config/paru
.config/pavucontrol.ini
.config/planetscale
.config/polybar

.config/pulse
.config/qt5ct
.config/qutebrowser
.config/rncbc.org
.config/rofi
.config/scdl
.config/teams
.config/teams-for-linux
.config/telegram-cli
.config/termite
.config/translateLocally
.config/transmission
.config/transmission-daemon
.config/variety
.config/volumeicon
.config/wget
.config/whatsapp-for-linux
.config/xfce4

.config/yad.conf
.config/yay
.config/youtube-viewer
.config/zoomus.conf

.local/dot

# .config/xmonad/xmonad-contrib
# .config/xmonad/xmonad

.local/src/ble.sh

gitthings/lutris
gitthings/st
.local/src/st
.vim/pack/bundle/start/vim-snippets

.local/bin/stack
.local/bin/xmonad

.config/ibus/
gitthings/
gitthings/st

.config/MongoDB Compass
.config/Code
.local/state/*

.config/github-copilot/hosts.json
.config/google-chrome

.config/torcat
.config/xmonad/.stack-work/*
.config/xmonad/.stack-work/
**/Cache/*
.config/**/Cache
.config/Nibbler/Cache
.config/Nibbler
.config/xmonad/.stack-work
.config/android/
.config/autostart/
.config/Android Open Source Project/
.config/Google/
.config/go/
.config/eas-cli-nodejs/
.config/evans/
.config/tree-sitter/
.config/cmus/
.config/kitty.app/
.local/kitty.app/
**/kitty.app/**

Notes/
cv/
keg/
build/
scripts/.stack-work/*
scripts/.stack-work/
**.stack-work**
