[Unit]
Description=Probe blw kubectl LB every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Unit=haproxy-k8s-lb-healthcheck.service

[Install]
WantedBy=timers.target
