[Desktop Entry]
Version=1.0
Type=Application
Name=Openbox Key bindings
Comment=Configure and personalize the Openbox key bindings manager
Icon=obconf
Exec=obkey %f
NoDisplay=true
Categories=DesktopSettings;GTK;Settings;
MimeType=application/x-openbox-theme;
StartupNotify=false
Terminal=false
